@import url('https://fonts.googleapis.com/css?family=Neucha&subset=cyrillic');
@import "variables.scss";

body {
  font-family: 'Neucha', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  color: $base-text-color;
  height: 100vh;
  background: rgba(38,50,56 ,1);
}

body * {
  box-sizing: border-box;
}

.layout {
  position: fixed;
  left: 0;
  top: 0;
}