@import url('https://fonts.googleapis.com/css?family=Neucha&subset=cyrillic');
@import "variables.scss";

body {
  font-family: 'Neucha', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  color: $base-text-color;
  height: 100vh;
  background: rgba(38,50,56 ,1);
}

body * {
  box-sizing: border-box;
}

.layout {
  position: fixed;
  left: 0;
  top: 0;
}

::-webkit-scrollbar {
  width: 10px;
  margin-left: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(255, 255, 255, .1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  background: rgba(255, 255, 255, .4);
}